$outerSquareWidth: 60px;
$innerSquareWidth: 20px;

$margin: $outerSquareWidth / 2 - $innerSquareWidth;

.overlay {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.outerSquare {
    width: $outerSquareWidth;
    height: $outerSquareWidth;
    background-color: var(--loader-bg);
    margin: auto;
    border-radius: 4px;
}

.innerSquare {
    width: $innerSquareWidth;
    height: $innerSquareWidth;
    background-color: var(--element-bg-color);
    margin-top: $margin;
    margin-left: $margin;
    animation: square-move 1.4s infinite;
    border-radius: 2px;
}

@keyframes square-move {
    0% {
        transform: none;
    }
    25% {
        transform: translateX(100%);
    }
    50% {
        transform: translate(100%, 100%);
    }
    75% {
        transform: translateY(100%);
    }
}
