// @import "scss/color";

.searchForm {
    position: relative;
    padding: 3px 0;
    border-radius: 20px 20px 0 0;
    color: var(--element-text-color);

    &.expand {
        background-color: var(--element-bg-color);
        // background-color: red;

        .dropdown {
            display: block;
        }
    }
}

.search,
.submitBtn,
.eraseBtn {
    outline: none;
    border: none;
}

.search {
    margin-left: 4px;
    padding: 4px 12px;
    border-radius: 20px;
    box-shadow: inset 0 0 2px #000000;
    color: inherit;
    background-color: var(--element-bg-color);
    transition: all 0.3s ease-in-out;
}

.submitBtn {
    margin: 0 4px;
    border-radius: 20px;
    padding: 5px;
    width: 30px;
    height: 100%;
    background-color: #fec400;

    &:hover {
        opacity: 0.9;
    }

    .submitImg {
        padding-top: 4px;
    }
}

.eraseBtn {
    background-color: transparent;
    color: var(--element-text-color);
    opacity: 0.8;
    font-weight: bolder;
    position: absolute;
    top: 9px;
    right: 44px;
}

.dropdown {
    position: absolute;
    background-color: var(--element-bg-color);
    width: 100%;
    border-radius: 0 0 20px 20px;
    display: none;
}

.dropdownItem {
    padding: 10px;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}
