* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    border: 0;
    background-color: var(--main-bg-color);
    transition: background-color 2 * $transition-duration
        $transition-timing-function;
}

input,
button {
    font: inherit;
}
