@import "scss/variables";


$input-padding-left: 5rem;
$input-padding-bottom: 12px;
$input-padding-top: 1.8rem;

.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 768px) {
    .wrapper {
        flex-direction: column-reverse;
    }
}

.posterImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    margin: auto;
}

.block {
    width: 400px;
    color: var(--main-text-color);
    transition-property: background-color, color;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;
    margin: 40px 0;
}

.subtitle {
    text-align: justify;
}
.title {
    text-align: center;
}

.formControl {
    width: fit-content;
    padding: 20px;
    margin: 0 auto;
    transition: inherit;
}

.formError {
    text-align: center;
    margin: 10px;
    color: red;
}

.formGroup {
    width: fit-content;
    height: fit-content;
    position: relative;
    color: var(--text-color);
}

.inputWrapper {
    width: fit-content;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
}

.formInput {
    display: block;
    width: 348px;
    padding: $input-padding-top 4px $input-padding-bottom $input-padding-left;
    font-weight: bold;
    background-color: var(--component-bg-color);
    color: inherit;
    border: none;
    outline: none;
}

.formInput:focus {
    background-color: var(--element-bg-color);
}

.formIcon,
.formLabel {
    top: 50%;
    position: absolute;
    opacity: 0.6;
}

.formIcon {
    left: 10px;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    left: $input-padding-left/2;
    transform: translate(-50%, -50%);
}

.formLabel {
    transform: translateY(-50%);
    font-size: 1.2rem;
    transition: all 0.2s ease-in-out;
    left: $input-padding-left;
}

.formInput:focus ~ .formLabel,
.formInput:not([value=""]) ~ .formLabel {
    top: $input-padding-bottom;
    transform: none;
    font-size: 1rem;
}

.formHelper {
    text-align: right;
    margin: 20px 10px;

    a {
        color: inherit;
    }
}

.formAction {
    display: flex;
    justify-content: space-between;
    transition: inherit;
    margin: 0 10px;
}

.btn {
    padding: 16px 32px;
    outline: none;
    border: none;
    border-radius: 50px;
    background-color: var(--component-bg-color);
    color: var(--text-color);
    cursor: pointer;
    transition: inherit;

    &:hover {
        background-color: var(--element-bg-color);
    }

    &.btnActive {
        background-color: var(--primary-color);
        color: white;

        &:hover {
            background-color: var(--primary-hover-color);
        }
    }
}
