@keyframes slidein {
    from {
        opacity: 0;
        scale: 2;
    }

    to {
        opacity: 1;
    }
}

.overlay {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(#000, 0.3);
}

.modal {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    width: 700px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    animation: slidein 0.2s ease-in;
}

.modalHeader {
    font-size: 1.6rem;
    background-color: var(--component-bg-color);
    color: var(--text-color);
    padding: 4px 0;
}

.modalTitle {
    text-align: center;
}

.modalBody {
    max-height: 85vh;
    overflow: scroll;
    // background-color: whitesmoke;
}

.modalFooter {
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--component-bg-color);

    button {
        margin: 8px 8px;
    }
}
