.detailBlock {
    border-top: 20px solid #ffc400;
    padding: 0 10px;
    
    & + .detailBlock {
        margin-top: 40px;
    }
}

.word {
    font-size: 1.6rem;
    padding: 4px 0;
}

.posWrapper {
    display: flex;
    font-weight: bold;
    padding: 2px 0;

    .pos {
        & + .pos::before {
            content: ", ";
        }
    }
}

.ipaWrapper {
    display: flex;
    padding: 2px 0;

    .ipaLabel {
        font-weight: bold;

        & + .ipa {
            margin-left: 0.5rem;
        }

        & + .ipaLabel {
            margin-left: 0.5rem;
        }
    }

    .ipa {
        font-weight: normal;
    }
}

.sensesWrapper {
    .senses {
        padding-top: 8px;
        border-top: 1px solid #ffc400;
    }
}

.def {
    font-weight: bold;
    margin: 4px 8px;
}

.expWrapper {
    margin: 8px 0;
}

.exp {
    margin: 8px 0;
}
