@import 'scss/variables';

.wrapper {
    display: flex;
    justify-content: space-between;
    background-color: var(--component-bg-color);
    box-shadow: 0 2px 9px rgba(#000, 0.1);
    transition-property: background-color, color;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;
}

.navBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: inherit;
}

.navItem {
    color: var(--main-text-color);
    transition: inherit;
    margin: 10px 20px;
    text-decoration: none;
}

.navBrand {
    color: var(--main-text-color);
    transition: inherit;
    font-size: 1.6rem;
    padding: 10px 20px;
    text-decoration: none;
}
