@import 'scss/variables';

.card {
    background-color: var(--component-bg-color);
    color: var(--text-color);
    border-radius: 10px;
    width: 260px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 9px rgba(#000, 0.1);
    cursor: pointer;
    transition-property: color, background-color;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;

    &:hover {
        background-color: var(--element-bg-color);
    }
}

.header {
    text-align: center;
    font-size: 1.6rem;
    padding: 10px 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.body {
}

.action {
    display: flex;
    flex-direction: row-reverse;
}
